line-bot-sdk 
bs4 
flask 
pymongo 
datetime 
pandas 
SnowNLP 
emoji 
pyshorteners 
scipy
yfinance
pyimgur
seaborn
mpl_finance
psycopg2
mplfinance
plotly==5.3.1
kaleido
sklearn
keras
